<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <% if (username) { %>
        <p>Welcome, <%= username %>!</p>
        <p> You are now a proud owner of a KabNab.
            to take care of your KabNab you should play a game.
            once you finish the game you will be able to feed your KabNab. 
        </p>
        <p>
            click 
            <a href="daycare">HERE</a>
            to go to the daycare and start taking care of your KabNab.
        </p>

        
    <% } else { %>
        <a href="/login">Login</a>
    <% } %>
</body>
</html>